@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  // Font family
  --font-family: 'Montserrat', sans-serif;

  // color
  --bg-primary: #fafafb;
  --bg-second: #f8f8f5;
  --bg-header: #fff;
  --bg-input: #dedee1;
  --bg-button: #e5f1ff;

  --text-white: #fff;
  --text-primary: #333;
  --text-second: #696e74;
  --border-story: #dedee1;
  --text-placeholder: #dedee1;

  --primary-color: #1b79e5;

  // Width, height
  --header-height: 92px;
  --sider-left-width: 320px;
  --sider-right-width: 380px;
  --create-post-width: 780px;
  --view-users-width: 620px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family) !important;
  font-size: 1.6rem;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Overide antd css
.CreatePostModal_wrapper__MvRsy .ws-modal-content,
.ViewUsers_wrapper__P\+Q\+W .ws-modal-content {
  box-shadow: none !important;
  background-color: var(--bg-primary) !important;
  padding: 0 !important;
}

.ws-upload-list-item.ws-upload-list-item-error {
  display: none !important;
}

.ws-dropdown-menu-submenu-title {
  display: flex;
}

.ws-result-icon {
  margin-bottom: 16px !important;
}

.text-default {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-second);
}

.mt-22 {
  margin-top: 22px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-0 {
  margin-bottom: 0 !important;
}
