.wrapper {
  width: 100%;

  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 22px;
    display: flex;
    align-items: center;
    height: var(--header-height);
    background-color: var(--bg-header);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 100;
  }

  .body {
    min-height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
    padding: 22px 22px 0;
    background-color: var(--bg-second);

    .content {
      margin: 0 calc(100px + var(--sider-right-width)) 0 calc(100px + var(--sider-left-width));
      background-color: var(--bg-second);
    }
  }

  .sider-left,
  .sider-right {
    background-color: var(--bg-second);
  }

  .sider-left {
    position: fixed;
    left: 22px;
    z-index: 99;
    min-width: var(--sider-left-width) !important;
    max-width: var(--sider-left-width) !important;
  }

  .sider-right {
    position: fixed;
    right: 22px;
    z-index: 9;
    min-width: var(--sider-right-width) !important;
    max-width: var(--sider-right-width) !important;
    height: calc(100vh - var(--header-height) - 22px);
    border-radius: 10px;
    overflow-y: overlay;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
