.wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    width: 78px;
    height: 78px;
    padding: 3px;
    border-radius: 100%;
    border: 2px solid var(--border-story);
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  .label {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-second);
    margin-top: 5px;
  }
}
