.story-item {
  width: 96%;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  &.add-story {
    cursor: default;

    .body .info {
      cursor: pointer;
    }
  }

  .body {
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.9) 100%);
      width: 100%;
      height: 250px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    .avatar {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 36px;
      height: 36px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        display: block;
        object-fit: cover;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
      }
    }

    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      padding: 16px 10px 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        width: 44px;
        height: 44px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          display: block;
          object-fit: cover;
          box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
        }
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--content-bg);
        border-radius: 100%;

        .plus-icon {
          font-size: 2rem;
          color: #1e74fd;
        }
      }

      .add,
      .name {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--text-white);
        text-align: left;
        margin: 4px 0 4px;
        line-height: 1.4;
      }
    }
  }
}
