.wrapper {
  position: relative;
  right: 17px;
  padding: 16px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: var(--messenger-width);

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 1.4rem;
      font-weight: 600;
    }

    .icon {
      color: var(--text-second);
      cursor: pointer;
    }
  }

  .search-input {
    padding: 4px 11px;
    margin-top: 12px;
    border: none;
    outline: none;
    font-weight: 500;
    color: var(--text-primary);
    background-color: var(--bg-second);

    input {
      background-color: var(--bg-second);
      font-size: 1.4rem;
      font-weight: 500;

      &::placeholder {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-primary);
      }
    }

    .icon {
      color: var(--text-second);
    }
  }
}
