.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 10px;

  &.small {
    .left {
      .avatar {
        width: 36px;
        height: 36px;
      }
      .text-info {
        .name {
          font-size: 1.4rem;
        }
      }
    }
  }

  &:hover {
    background-color: var(--bg-second);
    cursor: default;
  }

  .left {
    display: flex;
    align-items: center;

    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      cursor: pointer;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    .text-info {
      margin-left: 10px;
      cursor: pointer;

      .name {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }

  .action {
    .icon {
      padding: 8px;
      font-size: 1.6rem;
      color: var(--text-second);
      background-color: var(--bg-second);
      border-radius: 100%;
      cursor: pointer;
    }
  }
}
