.wrapper {
  height: 100%;

  .head {
    display: flex;
    align-items: center;
    margin-top: 20px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: block;
      object-fit: cover;
    }

    .name {
      font-size: 1.5rem;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  .text-input {
    min-height: 100px;
    max-height: 300px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--bg-second);
  }

  .circle-choose {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-default);
    border-radius: 10px;
    border: 1px solid var(--text-primary);
    background-color: var(--bg-second);
    margin-top: 16px;
  }

  .button {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: var(--padding-default);
    left: var(--padding-default);
    right: var(--padding-default);

    .discard {
      width: 40%;
      min-width: 40%;
      margin-right: 12px;
    }

    .share {
      flex: 1;
      background-color: var(--primary-color);
      color: var(--text-white);

      &.disable {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}

.discard-modal-desc {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--text-primary);
  font-weight: 600;
  margin-bottom: 8px;
}

.ok-button {
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: var(--border-radius-default);
}

.cancel-button {
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary-color);
  border-radius: var(--border-radius-default);
  background-color: var(--bg-button);
}
