.wrapper {
  padding: 16px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  min-width: var(--create-post-width);

  .head {
    display: flex;
    align-items: center;

    .avatar {
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 100%;
      object-fit: cover;
      margin-right: 10px;
    }

    .name {
      display: flex;
      flex-direction: column;

      .fullname {
        font-size: 1.6rem;
        font-weight: 600;
      }

      .privacy {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--text-second);
        line-height: 1.2;
      }
    }
  }

  .content {
    margin-top: 16px;

    .status {
      padding: 16px;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 1.4rem;
      font-weight: 500;
      background-color: var(--bg-second);
      max-height: 160px;

      &::placeholder {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--text-primary);
      }
    }
  }

  .options {
    margin-top: 16px;

    .item-icon {
      font-weight: 600;
      color: var(--text-second);
    }

    .item-text {
      font-weight: 600;
      color: var(--text-second);
    }
  }

  .button {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 16px;
    height: 42px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--primary-color);
    background-color: var(--bg-button);
    cursor: pointer;
  }
}
