.wrapper {
  .sort-text {
    font-size: 1.4rem;
    color: var(--text-second);
  }

  .sort-option {
    font-size: 1.6rem;
    color: var(--text-second);
  }

  .item {
    border-radius: 10px;
    padding: 16px;
    background-color: var(--bg-primary);
    margin-bottom: 22px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        img {
          display: block;
          width: 42px;
          height: 42px;
          border-radius: 100%;
          object-fit: cover;
          margin-right: 10px;
        }

        .desc {
          display: flex;
          flex-direction: column;

          .name {
            font-size: 1.6rem;
            font-weight: 600;
          }

          .time {
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--text-second);
            line-height: 1.2;
          }
        }
      }

      .right-icon {
        font-size: 2rem;
        color: var(--text-second);
        cursor: pointer;
      }
    }

    .body {
      margin-top: 16px;

      .status {
        display: inline-block;
        font-size: 2rem;
        font-weight: 500;
        color: var(--text-second);
        margin-bottom: 12px;
      }

      img {
        width: 100%;
        object-fit: cover;
        display: block;
        border-radius: 10px;
      }
    }

    .actions {
      display: flex;
      align-items: center;

      .action-item {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon {
          font-size: 2rem;
          color: var(--text-second);
          margin-right: 5px;
          cursor: pointer;

          &:hover {
            background-color: var(--bg-second);
          }

          &.isLiked {
            fill: #ea64d9;
          }
        }

        .view {
          &:hover {
            text-decoration: underline;
            cursor: default;
          }
        }
      }
    }
  }
}
