.status {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 12px;
  cursor: default;

  &.mb {
    margin-bottom: 0;
  }
}
